.btn__top {
    width: 70px;
    height: 50px;
    overflow: hidden;
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    cursor: pointer;
    &.btn__active {
        display: block;
    }
    &::after, &::before {
        background: $blueOpacity;
        position: absolute;
        content: "";
        top: 20px;
        width: 55px;
        height: 10px;
    }
    &::after {
        left: -10px;
        transform: rotate(-45deg);
        @include breakpoint(md){
            left: -18px;
        }
    }
    &::before {
        right: -10px;
        transform: rotate(45deg);
        @include breakpoint(md){
            right: -18px;
        }
    }
    &:hover {
        &::after, &::before {
            background: $blue;
        }
    }
    @include breakpoint(md){
        width: 50px;
        height: 50px;
    }
}