.catalog {
    margin-bottom: 150px;
    &__top {
        display: flex;
        align-items: center;
        img {
            @include breakpoint(lg){
                margin-left: 20px;
            }
        }
        p {
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
            font-family: $oswald;
            margin-left: 40px;
        }
    }
    &__tabs {
        margin-top: 70px;
        text-align: center;
        width: 100%;
        button {
            font-family: $oswald;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 24px;
            border: none;
            background: none;
            &:nth-child(1) {
                margin-right: 47px;
            }
            &:hover, &:focus {
                color: $blue;
                border-bottom: 2px solid $blue;
            }
        }
    }
    &__wrapper {
        margin-top: 55px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            margin: 20px auto;
            max-width: 350px;
            height: 300px;
        }
    }
}