.equipment {
    @include breakpoint(xl){
        padding: 0 15px;
    }
    &__top {
        display: flex;
        align-items: center;
        p {
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
            font-family: $oswald;
            margin-left: 40px;
            @include breakpoint(xs){
                margin-left: 20px;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        @include breakpoint(xl){
            flex-direction: column;
        }
    }
    &__text {
        max-width: 350px;
        font-family: $openSans;
        font-weight: 300;
        font-size: 18px;
        @include breakpoint(xl) {
            margin: 80px auto;
        }
    }
    &__wrapper {
        max-width: 665px;
        min-height: 394px;
        border: solid 3px $blue;
        padding: 30px;
        position: relative;
        overflow: hidden;
        @include breakpoint(xs){
            margin: 0 auto;
        }
    }
    &__btns {
        position: absolute;
        right: 25px;
        top: 25px;
        z-index: 20;
        button {
            color: $blue;
            border: solid 2px $blue;
            background: none;
            font-size: 27px;
            padding: 10px 20px 10px 20px;
            font-weight: 700;
        }
    }
    &__title {
        font-family: $oswald;
        font-weight: 400;
        font-size: 18px;
        margin-top: 25px;
        @include breakpoint(md){
            margin-top: 70px;
            text-align: center;
        }
    }
    &__slider {
        display: flex;
        align-items: center;
        margin-top: 45px;
        justify-content: space-between;
        img {
            width: 255px;
            height: 250px;
            margin-right: 50px;
            @include breakpoint(md){
                margin: 20px auto;
            }
        }
        @include breakpoint(md){
            flex-direction: column;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        font-family: $oswald;
        margin-bottom: 30px;
    }
    &__item {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 14px;
        font-family: $openSans;
        color: #343434;
    }
}
