.footer {
    min-height: 255px;
    background: $blue;
    margin-top: 120px;
    color: white;
    .container {
        padding: 40px 0 25px;
        @include breakpoint(xl){
            padding: 40px 20px 25px;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 29px;
        flex-wrap: wrap;
        p {
            font-size: 14px;
            font-family: $openSans;
            @include breakpoint(md){
                margin-bottom: 20px;
            }
        }
    }
    &__menu {
        margin: 25px 0;
    }
    &__list {
        display: flex;
        &:first-child {
            a {
                margin-right: 110px;
                @include breakpoint(md){
                    margin-right: 30px;
                }
            }
        }
        a {
            color: white;
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            font-family: $openSans;
            margin-right: 125px;
            @include breakpoint(md){
                margin-right: 30px;
                margin-bottom: 10px;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        flex-wrap: wrap;
    }
}