.header {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    background: $blueOpacity;
    &__logo {
        height: 58px;
        margin-left: 40px;
        @include breakpoint(sm){
            margin-left: 10px;
        }
    }
    &__navbar {
        margin: 0 auto;
        @include breakpoint(md){
            position: fixed;
            width: 300px;
            right: -320px;
            top: 0;
            background: $blueOpacity;
            border-left: solid 2px $blue;
            height: 100%;
            overflow: scroll;
            z-index: 98;
            padding-top: 100px;
            transition: 1s;
        }
        &.navbar__active {
            right: 0;
            transition: 1s;
        }
    }
    &__list {
        display: flex;
        @include breakpoint(md){
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    &__item {
        list-style-type: none;
        margin-left: 28px;
        @include breakpoint(md){
            margin-bottom: 10px;
            padding: 10px 20px;
            margin-left: 0;
        }
        &:hover {
            @include breakpoint(md){
                border: solid 1px white;
            }
        }
    }
    &__link {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 14px;
        font-family: $openSans;
        &:hover {
            border-bottom: solid 2px white;
            @include breakpoint(md){
                border: none;
            }
        }
    }
    &__popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(46, 46, 46, 0.8);
        z-index: 80;
        cursor: pointer;
        &.popup__active {
            display: block;
        }
    }
    &__burger {
        display: none;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 10px;
        top: 15px;
        z-index: 99;
        &::after, & span, &::before {
            position: absolute;
            content: "";
            left: 5px;
            background: white;
            width: 40px;
            height: 3px;
            transition: 1s;
            opacity: 1;
        }
        &.burger__active {
            position: fixed;
            top: 15px;
            right: 15px;
            &::after {
                top: 23px;
                transform: rotate(43deg);
                transition: 1s;
            }
            & span {
                opacity: 0;
                transition: 1s;
            }
            &::before {
                top: 23px;
                transform: rotate(-43deg);
                transition: 1s;
            }
        }
        &::after {
            top: 13px;
            transition: 1s;
        }
        & span {
            top: 23px;
            transition: 1s;
        }
        &::before {
            top: 33px;
            transition: 1s;
        }
        @include breakpoint(md){
            display: block;
        }
    }
}