.home__bg {
    background-image: url(../../../dist/assets/images/bg-homeW.webp);
    background-size: cover;
    background-origin: center;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    @include breakpoint(xl){
        background-image: url(../../../dist/assets/images/bg-home.png);
    }
}