.news {
    margin-top: 108px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(sm){
            display: flex;
            flex-direction: column;    
        }
        @include breakpoint(xl){
            padding: 0 20px;
        } 
    }
    &__title {
        display: flex;
        p {
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
            font-family: $oswald;
            margin-left: 40px;
        }
    }
    &__btn {
        font-weight: 600;
        font-family: $openSans;
        text-transform: uppercase;
        color: white;
        background: $blue;
        border: none;
        padding: 15px 34px;
        @include breakpoint(sm){
            margin-top: 25px;  
        }
    }
    &__wrapper {
        display: flex;
        margin-top: 77px;
        justify-content: space-between;
        @include breakpoint(xl){
            flex-direction: column;
        }
    }   
    &__box {
        width: 225px;
        @include breakpoint(xl){
            margin: 30px auto;
            text-align: center;
        }
        @include breakpoint(sm){
             width: 100%;     
        }
        &:first-child {
            display: flex;
            width: 540px;
            @include breakpoint(sm){
                width: 100%;
            }
            img {
                @include breakpoint(sm){
                    width: 255px;
                    height: 242px;
                    margin: 0 auto 20px;
                }
            }
            .news__content {
                @include breakpoint(sm){
                    margin-left: 0;    
                }
                .news__subtitle {
                    display: flex;
                    margin-bottom: 42px;
                    justify-content: space-between;
                    span {
                        @include breakpoint(sm){
                            margin: 0 auto 10px;
                        }
                    }
                    span:nth-child(2){
                        color: #979797;
                    }
                    @include breakpoint(sm){
                        flex-direction: column;
                    }
                }
                .news__text {
                    margin-bottom: 21px;
                    @include breakpoint(sm){
                        padding: 0 15px;
                    } 
                }
            }
            @include breakpoint(sm){
                display: flex;
                flex-direction: column;
            }
        }
    }
    &__content {
        margin-left: 30px;
        a {
            font-weight: 400;
            font-family: $openSans;
            font-size: 14px;
            color: #343434;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        font-family: $oswald;
        margin-bottom: 20px;
        span {
            font-weight: 600;
            font-size: 14px;
            font-family: $openSans;
        }
        @include breakpoint(xl){
            text-align: center;
        } 
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        font-family: $openSans;
        margin-bottom: 20px;
    }
    &__date {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        img {
            @include breakpoint(xl){
                margin: 0 auto;
            }
        }
        span {
            font-weight: 600;
            font-size: 14px;
            font-family: $openSans;
            color: #979797;
            @include breakpoint(xl){
                margin: 15px auto;
            } 
        }
        @include breakpoint(xl){
            flex-direction: column;
        } 
    }
}