.page {
    padding-top: 200px;
    height: 720px;
    overflow: hidden;
    position: relative;
    &__block {
        position: absolute;
        content: "";
        top: 0;
        left: 15%;
        width: 25%;
        height: 100%;
        background: $blueOpacity;
        z-index: -1;
        animation: block_move 6s ease-in-out infinite;
        transition: 0.7s;
    }
    &__content {
        max-width: 635px;
        margin: 0 auto;
        color: white;
        @include breakpoint(md){
            text-align: center;
            padding: 0 20px;
        }
        h1 {
            font-weight: 400;
            font-size: 48px;
            font-family: $oswald;
            margin-bottom: 40px;
            @include breakpoint(md){
                font-size: 30px;
            }
        }
        p {
            font-weight: 400;
            font-family: $openSans;
            margin-bottom: 40px;
        }
        button {
            text-transform: uppercase;
            font-weight: 600;
            font-family: $openSans;
            padding: 15px 40px;
            background: none;
            color: white;
            border: solid 1px white;
            transition: 0.6s;
            &:hover {
                background: $blueOpacity;
                transition: 0.6s;
            }
        }
    }
}

@keyframes block_move {
    0% {
      left: -30%;
    }
    25% {
      left: 10%;
    }
    50% {
      left: 30%;
    }
    75% {
      left: 60%;
    }
    100% {
      left: 100%;
    }
  }