.projects {
    margin: 150px 0;
    min-height: 520px;
    padding: 0 10px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(sm){
            flex-direction: column;
        }
    }
    &__title {
        display: flex;
        p {
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
            font-family: $oswald;
            margin-left: 40px;
        }
        @include breakpoint(sm){
            margin-bottom: 40px;
        }
    }
    &__btn {
        button {
            color: $blue;
            border: solid 2px $blue;
            background: none;
            font-size: 35px;
            padding: 10px 20px 15px 20px;
        }
    }
    &__wrapper {
        margin-top: 65px;
        overflow: hidden;
        touch-action: pan-y;
        user-select: none;
        @include breakpoint(xl){
            margin: 70px auto;
            width: 540px;
            height: 400px;
        }
        @include breakpoint(sm){
            margin: 70px auto;
            width: 270px;
            height: 200px;
        }
    }
    &__track {
        display: flex;
        transition: 1s;
        img {
            width: 540px;
            height: 400px;
            margin-right: 30px;
            pointer-events: none;
            @include breakpoint(sm){
                width: 270px;
                height: 200px;
            }
        }
    }
}