//----- font family -----//
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Oswald:wght@500&display=swap');

//----- variables -----//
$openSans: 'Open Sans', sans-serif;
$blue: #005BC1;
$oswald: 'Oswald', sans-serif;
$blueOpacity: rgba(0, 91, 193, 0.6);

//----- breakpoint -----//
@mixin breakpoint($point) {
    @if $point == xl {
        @media(max-width: 1200px){@content;}
    }
    @else if $point == lg {
        @media(max-width: 992px){@content;}
    }
    @else if $point == md {
        @media(max-width: 768px){@content;}
    }
    @else if $point == sm {
        @media(max-width: 576px){@content;}
    }
    @else if $point == xs {
        @media(max-width: 360px){@content;}
    }
}


//----- config -----//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: serif;
    font-size: 16px;
    line-height: 1.5;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
button, input {
    outline: none;
}
button {
    cursor: pointer;
}

